<div class="cart">
  <h2 class="cart__title">Zawartość koszyka</h2>
  <ul class="cart__list">
    <li class="cart__item">
      <h3 class="cart__item__title">Produkt</h3>
      <p class="cart__item__value">Sony Xperia Z3 tył Folia CLASSIC</p>
    </li>
    <li class="cart__item">
      <h3 class="cart__item__title">Ilość</h3>
      <input type="number" class="cart__item__value input__counter" placeholder="1">
    </li>
    <li class="cart__item">
      <h3 class="cart__item__title">Wartość</h3>
    </li>
  </ul>
  <button class="btn">usuń</button>
  <h2 class="cart__title">Dostawa</h2>
  <div class="cart__shipping">
    <input type="radio" id="odbior">
    <label class="cart__shipping__value" for="odbior">Odbiór osobisty</label>
  </div>
  
  <input type="radio" id="paczkomaty">
  <label class="cart__shipping__value" for="paczkomaty">paczkomaty</label>
</div>