<nav class="nav">
  <button class="nav__btn" id="nav-btn">
    <span class="nav__btn__line"></span>
    <span class="nav__btn__line"></span>
    <span class="nav__btn__line"></span>
  </button>
  <p class="nav__logo">logo</p>
  <p class="nav__cart">Cart</p>
</nav>
<div class="side-menu" id="side-menu">
  <ul class="side-menu__list">
    <header class="side-menu__header">
      <button class="btn-close" id="nav-close"></button>
    </header>
    <li class="side-menu__item">
      Home
    </li>
    <li class="side-menu__item">
      Shop
    </li>
    <li class="side-menu__item">
      Contact
    </li>
  </ul>
</div>